<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width: 200px;
        }
    </style>
</head>
<body>
    <% records.forEach(record => { %>
        <h2><a href="/courses/<%= record.course_id %>"><%= record.course_name %></a></h2>
        <img src="<%= record.image_url %>" alt=""/>
        <% }); %>
</body>
</html>

<img src="https://cdn.freebiesupply.com/logos/large/2x/angular-icon-1-logo-png-transparent.png" alt="">