<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
        <nav id="app-name">
          <img src="/images/graduate.png" alt="">
          <h1>Learning Loop</h1>
        </nav>
        
          <% if(isLoggedIn()){ %>
            <h3>Welcome <%= currentUser.name %></h3>
            <% } %>
          <nav id="options">    
          <button id="btn-options"><a href="/">All Courses</a></button>
          <% if(!isLoggedIn()){ %>
          <button id="btn-options"><a href="/login">Login</a></button>
          <button id="btn-options"><a href="/users/signup">Signup</a></button>
          <% } %>
          <% if(isLoggedIn()){ %>
            <% if(isAdmin()){ %>
                <button id="btn-options"><a href="/courses/new">Add New Course</a></button>
            <% } %>  
            <% if(!isAdmin()){ %>
            <button id="btn-options"><a href="/users/courses/<%= currentUser.user_id %>">My Courses</a></button>
            <% } %>
            <form action="/sessions" method="post">
              <input type="hidden" name="_method" value="delete">
              <button id="btn-options">Logout</button>
          </form>   
        <% } %> 
        </nav>
    </header>
    <section class="categories">
            <h2>Browse by categories</h2>
            <nav>
            <a href="/courses/category/front-end">Front-end Development</a>
            <a href="/courses/category/big">Big Data</a>
            <a href="/courses/category/cloud">Cloud</a>
            <a href="/courses/category/cybersecurity">Cybersecurity</a>
          </nav>
    </section>    
    <%- body %>
  </body>
</html>
