<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>

        <nav>
            <a href="/">home</a>
            <a href="/login">login</a>
            <a href="/users/signup">signup</a>
          </nav>

        <nav>
            <h2>Browse by categories</h2>
           
            <a href="/courses/category/front-end">Front-end Development</a>
            <a href="/courses/category">Big Data</a>
            <a href="/courses/category">Cloud</a>
            <a href="/courses/category/cybersecurity">Cybersecurity</a>
          </nav>


        <% if(isLoggedIn()){ %>
            <form action="/sessions" method="post">
                <input type="hidden" name="_method" value="delete">
                <button>Logout</button>
            </form>
            <p>logged in as: <%= currentUser.name %></p>
            <% if(isAdmin()){ %>
                <a href="/courses/edit">Edit course</a>
            <% } %>  
            <% if(!isAdmin()){ %>
                <a href="/users/course">My Courses</a>
            <% } %>   
        <% } %>    

    </header>

    <%- body %>
  </body>
</html>