<h1>sign up</h1>
<form class="signup" action="/users" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" />
    <label for="email">email</label>
    <input type="text" name="email" />
    <label for="">password</label>
    <input type="password" name="password" />
    <label for="">password confirmation</label>
    <input type="password" name="password_confirmation" />
    <input type="hidden" name="isAdmin" value="FALSE" />
    <p>
        <button>signup</button>
    </p>
</form>