<div class="form-wrapper">
    <h1>Sign up</h1>
    <hr>
    <form action="/users" method="post">
        <label for="name">Name</label>
        <input type="text" placeholder="Enter your name" name="name" required/>
        <label for="email">Email</label>
        <input type="text" placeholder="Enter your email" name="email" required/>
        <label for="">Password</label>
        <input type="password"  placeholder="Enter your password" name="password" required/>
        <label for="">Password Confirmation</label>
        <input type="password" placeholder="Re-enter your password" name="password_confirmation" required/>
        <input type="hidden" name="isAdmin" value="FALSE" />
        <button class="btn-signup">Signup</button>
    </form>
</div>    