<div class="card-wrapper">
    <div class="cards">
        <% records.forEach(record => { %>
            <div class="card">
                    <section>
                        <h2 class="course-name"><%= record.course_name %></h2>
                    </section>

                    <section class="course-image">
                        <img src="<%= record.image_url %>" alt=""/>
                    </section>
            </div>      
        <% }); %>
    </div>
</div> 